<!DOCTYPE html>
    <html lang="fr">

    {% include "includes/head.html" %}

    <body class="wrapper">

        {% include "includes/header.html" %}
        

        <section class="login">
            <h2>Connexion</h2>

            <div class="messageLogin">
                <h3>Heureux de vous revoir !</h3>
                <p>Pas encore inscrit(e)? <a href="{{ route('register.form') }}">Inscrivez-vous</a></p>
            </div>

            {% if errors() %}
            <p class="status">
                {{ errors()[0] }}
            </p>
            {% endif %}
           
            <form method="post" action="{{ route('login.request') }}">
                {{ csrf_field()|raw }}
                
                <div class="inputFlex">
                    <input type="email" id="email" name="email" placeholder="Adresse email" value="{{ old('email') }}">
                    <input type="password" id="password" name="password" placeholder="Mot de passe">
                </div>
                
                <input type="submit" value="Connexion">
            </form> 
        </section>
        
        
        {% include "includes/footer.html" %}
        
    </body>
</html>