<!DOCTYPE html>
    <html lang="fr">

    {% include "includes/head.html" %}

    <body class="wrapper">

        {% include "includes/header.html" %}
        

        <section class="register">
            <h2>Inscription</h2>

            <div class="messageRegister">
                <h3>Rejoignez-nous !</h3>
                <p>Déjà inscrit(e)? <a href="{{ route('login.form') }}">Connectez-vous</a></p>
            </div>

            {% if errors() %}
            <ul class="status">
                {% for error in errors() %}
                <li>
                    {{ error }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
           
            <form method="post" action="{{ route('register.request') }}">
                {{ csrf_field()|raw }}
                
                <div class="inputFlex">
                    <input type="text" id="name" name="name" placeholder="Prénom NOM" value="{{ old('name') }}">
                    <input type="email" id="email" name="email" placeholder="Adresse email" value="{{ old('email') }}">
                    <input type="password" id="password" name="password" placeholder="Mot de passe">
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmation du mot de passe">
                </div>
                
                <input type="submit" value="Connexion">
            </form> 
        </section>
        
        
        {% include "includes/footer.html" %}
        
    </body>
</html>