<!DOCTYPE html>
    <html lang="fr">

    {% include "includes/head.html" %}

    <body class="wrapper">

        {% include "includes/header.html" %}
        {% include "includes/section_lastPost.html" %}
        
        
        <section class="indexPosts">
            {% for post in posts %}
            <a class="recipe" href="route">
                <img class="photo" src="img/posts/{{ post.img }}" alt="{{ post.img }}">
                <div class="resume">
                    <h2>{{ post.title }} - Prénom NOM cuisinier à faire {{ post.cooker_id }}=id</h2>
                    <p>{{ post.description }}</p>
                    <span>
                        {% set whisk = post.difficulty %}
                        {% for i in 1..whisk %}
                            <img src="img/whisk.svg">
                        {% endfor %}
                        
                        {% set euro = post.price %}
                        {% for i in 1..euro %}
                            <img src="img/euro.svg">
                        {% endfor %}
                    </span>
                    <p>Temps de préparation : 
                        {% if (post.time / 3600) >= 1 %}
                        {{ (post.time / 3600)|round(0, 'floor') }} heure(s)
                        {% endif %}

                        {% if (post.time / 60) <= 60 %}
                        {{ (post.time / 60)|round(0, 'floor') }} minute(s)
                        {% elseif (post.time / 60) >= 60 %}
                        {{  (post.time / 60) % 60 }} minute(s)
                        {% endif %}
                    </p>
                </div>
            </a>
            {% endfor %}

        </section>
        

        {% include "includes/footer.html" %}
        
    </body>
</html>