<!DOCTYPE html>
    <html lang="fr">

    {% include "includes/head.html" %}

    <body class="wrapper">

        {% include "includes/header.html" %}
        {% include "includes/section_lastPost.html" %}
        
        
        <section class="indexPosts">
            {% for post in posts %}
                {% if post.visibility %}
                {% include "includes/recipe.html" %}
                {% elseif not post.visibility and auth().checkIsAdmin() %}
                {% include "includes/recipe.html" %}
                {% endif %}
            {% endfor %}

        </section>
        

        {% include "includes/footer.html" %}
        
    </body>
</html>