<!DOCTYPE html>
    <html lang="fr">

    {% include "includes/head.html" %}

    <body class="wrapper">

        {% include "includes/header.html" %}
        

        <section class="listCookers">
            {% for cooker in cookers %}
            <a class="cooker" href="{{ route('cookers.show', {slug: cooker.slug}) }}">
                <img class="photo" src="/img/cookers/{{ cooker.img }}" alt="{{ cooker.img }}">
                <h2>{{ cooker.firstname }} {{ cooker.lastname }}</h2>
            </a>
            {% endfor %}
        </section>
        
        
        {% include "includes/footer.html" %}
        
    </body>
</html>