<!DOCTYPE html>
    <html lang="fr">

    {# include head #}

    <body class="wrapper">

        {# include header ou header_index #}
        

        <section class="createCooker">
            <h2>Création d'un cuisinier</h2>

            <p class="status">Commentaire d'état de modification !</p>

            <form method="post" action="" enctype="multipart/form-data">
                <div class="inputFlex">
                    <label for="firstname">Prénom</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Ecrivrez votre prénom" required>
                    <p class="error">Commentaire d'erreur !</p>
                </div>

                <div class="inputFlex">
                    <label for="lastname">Nom</label>
                    <input type="text" id="lastname" name="lastname" placeholder="Ecrivrez votre nom" required>
                    <p class="error">Commentaire d'erreur !</p>
                </div>

                <div class="inputFlex">
                    <label class="label-file" for="file">Choisir une image</label>
                    <input type="file" id="file" name="file" required>
                    <p class="error">Commentaire d'erreur !</p>
                </div>

                <input type="submit" value="Publier">
            </form>  
        </section> 
        
        
        {# include footer #}
        
    </body>
</html>