<!DOCTYPE html>
    <html lang="fr">

    {% include "includes/head.html" %}

    <body class="wrapper">

        {% include "includes/header.html" %}
        

        <section class="showCooker">

            {% if status() %}
            <p class="status">{{ status() }}</p>
            {% endif %}

            <h2>Cuisinier</h2>
            <h3>{{ cooker.firstname }} {{ cooker.lastname }}</h3>
            <img class="photo" src="/img/cookers/{{ cooker.img }}" alt="{{ cooker.img }}">

            {% if auth().checkIsAdmin() %}
            <div class="btn-admin">
                <a href="{{ route('cookers.edit', {slug: cooker.slug}) }}"><button class="btn-blue">Modifier</button></a>
                <button class="btn-delete">Supprimer</button>
            </div>
            {% endif %}

            <h4>Recette</h4>
            <ul>
                <li><a href="route">Recette 1</a></li>
                <li><a href="route">Recette 2</a></li>
                <li><a href="route">Recette 3</a></li>
                <li><a href="route">Recette 4</a></li>
                <li><a href="route">Recette 5</a></li>
                <li><a href="route">Recette 6</a></li>
            </ul>
        </section>
        
        
        {% include "includes/footer.html" %}
        
    </body>
</html>