/* FOOTER */
footer {
    position: relative;
    color: var(--white);
    text-align: center;
    padding: 3rem;
}
footer a {
    position: absolute;
    bottom: 34px;
    right: 1rem;
    transition: all 0.5s;
}
footer a:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    bottom: 31px;
}
@media screen and (max-width: 807px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer p {
        order: 2;
    }
    footer a {
        position: static;
        margin-bottom: 0.5rem;
        order: 1;
    }
}