/* HEADER */
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding : 1.5rem 0;
}
header .nameWebsite {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--title);
    color: var(--dark);
    font-weight: bold;
}
header .nameWebsite h1 {
    font-size: 2rem;
}
header .nameWebsite p {
    font-size: 1.5rem;
}
header nav ul {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    text-align: right;
    padding-top: 4rem;
}
header nav ul.active-nav {
    display: flex;
}
header nav ul li  {
    margin: 0.75rem 0;
}
header nav ul li a {
    font-family: var(--title);
    color: var(--dark);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
}
header nav li a:hover {
    border-bottom: 2px solid var(--dark);
    padding-bottom: 0.25rem;
    transition: all 0.3s;
}
a.nav-btn {
    display: block;
    position: absolute;
    top: 32px;
    right: 0;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

@media screen and (max-width: 480px) {
    header .nameWebsite h1 {
        font-size: 1.25rem;
    }
    header .nameWebsite p {
        font-size: 1rem;
    }
    a.nav-btn {
        top: 26px;
    }
}