<header class="maxWidthBodyRed">
    <a class="nameWebsite" href="route">
        <h1>Les Magiciens du Fouet</h1>
        <p>Toutes nos recettes</p>
    </a>
    <nav>
        <ul>
            <li><a href="route">Accueil</a></li>
            <li><a href="route">Cuisinier</a></li>
            <li><a href="route">Connexion</a></li>
            <li><a href="{{ route('register.form') }}">Inscription</a></li>
            <li><a href="route">Mon compte</a></li>
            <li><a href="route">Contact</a></li>
            <li><a href="route">Deconnexion</a></li>
        </ul>
        <a class="nav-btn">
            <img src="img/menu.png" alt="icon menu">
        </a>
    </nav>
</header>